<script type="text/javascript">
/* Start muted on load */
$('#mute_button').removeClass('icon-volume-up').addClass('icon-volume-off').attr('title', 'Unmute');

var player = new Audio();
player.src = '{{ mpd_url }}';
player.preload = 'none';
player.volume = 0;
player.play();

TeamPlayer.play = function (url) {
    player.src = url;
    player.pause();
    player.play();
};

TeamPlayer.mute = function (button) {
    player.volume = 0;

    TeamPlayer.muted = true;
    $(button).removeClass('icon-volume-up').addClass('icon-volume-off').attr('title', 'Unmute');
};

TeamPlayer.unmute = function (button) {
    player.volume = 1;

    TeamPlayer.muted = false;
    $(button).removeClass('icon-volume-off').addClass('icon-volume-up').attr('title', 'Mute');
};

TeamPlayer.toggle_mute = function (button) {
    if (TeamPlayer.muted) {
        TeamPlayer.unmute(button);
    }
    else {
        TeamPlayer.mute(button);
    }
};
</script>
